<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div id="userID" th:text="${user.id}">id</div>
<table class="table table-bordered" th:object="${user}" border="1">
    <tbody>
    <tr>
        <td align="center" colspan="2" width="100%"
            th:style="'font-weight:bold; text-align:center; vertical-align:middle;'" th:text="*{name}">UserName
        </td>
        <td>
            <a th:href="'/user/edit/' + *{id}">
                <button class="btn btn-default">Редактировать</button>
            </a>
        </td>
        <td>
            <a th:href="'/user/delete/' + *{id}">
                <button class="btn btn-danger">Удалить</button>
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="4">
            <form id="recordForm" th:object="${filterFormDto}" class="form-inline"
                  onsubmit="getRecordsInterval($('#userID').text())">
                <label for="recordFInputFrom">Начало: </label>
                <input id="recordFInputFrom" type="datetime-local" min="2017-04-01" max="2018-12-31"
                       class="form-control" placeholder="dd-mm-yyyy HH:mm"
                       th:field="*{startDate}"/>
                <label for="recordFInputTo">Конец: </label>
                <input id="recordFInputTo" type="datetime-local" min="2017-04-01" max="2018-12-31"
                       class="form-control" placeholder="dd-mm-yyyy HH:mm"
                       th:field="*{endDate}"/>
                <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </td>
    </tr>
    <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Скачал</th>
        <th>Загрузил</th>
    </tr>
    <tr th:each="record : ${recordList}">
        <td th:text="${record.getId()}">№</td>
        <td th:text="${record.getDate()}">Дата</td>
        <td th:text="${record.getDownlink()}">Скачал</td>
        <td th:text="${record.getUplink()}">Загрузил</td>
    </tr>
    </tbody>
</table>

</html>