<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: wrapper(~{::title},~{})">

<title>Список пользователей</title>

<div id="content">
    <div class="col-md-5">

        <div class="form-inline">
            <form id="searchUserForm" class="form-inline" th:action="@{/user/find/}" method="get">
                <input type="text" name="name" id="searchUFInputName" placeholder="Введите имя" th:value="${name}"
                       class="form-control"/>
                <button id="searchUFFindButton" type="submit" class="btn btn-primary">Найти</button>
                <button id="searchUFClearButton" type="button" class="btn btn-danger"
                        th:classappend="${#strings.isEmpty(name)}?'hidden':''"
                        onclick="clearSearch()">X
                </button>
                <a href="/user/new" style="float: right;">
                    <button type="button" class="btn btn-primary">Создать нового</button>
                </a>
            </form>
        </div>
        <div class="form-group" style="margin-bottom: 23px;">
            <label for="userListSelection"></label>
            <select size="15" id="userListSelection" class="form-control" onchange="getUserRecords($(this).val())">
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.name}">Ссылка на пользователя
                </option>
            </select>
        </div>

        <!-- Pagination Bar -->
        <th:block th:replace="pagination :: paginationbar"/>
    </div>

    <div id="recordDiv" class="col-md-7">
        <table class="table table-bordered" border="1">
            <tbody>
            <tr>
                <td align="center" colspan="2" width="100%"
                    th:style="'font-weight:bold; text-align:center; vertical-align:middle;'">Имя пользователя
                </td>
                <td>
                    <a th:href="'/user/edit/'">
                        <button disabled class="btn btn-default">Редактировать</button>
                    </a>
                </td>
                <td>
                    <a th:href="'/user/delete/'">
                        <button disabled class="btn btn-danger">Удалить</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="4">
                    <form th:object="${filterFormDto}" class="form-inline" th:action="@{/user/{id}(id=${1})}"
                          method="post">
                        <label for="formInputFrom1">Начало: </label>
                        <input disabled type="datetime-local" min="2017-01-01T00:00" max="2018-12-31T23:59"
                               class="form-control"
                               placeholder="dd-mm-yyyy HH:mm" id="formInputFrom1"
                               th:field="*{startDate}"/>
                        <label for="formInputTo1">Конец: </label>
                        <input disabled type="datetime-local" min="2017-01-01T00:00" max="2018-12-31T23:59"
                               class="form-control"
                               placeholder="dd-mm-yyyy HH:mm" id="formInputTo1"
                               th:field="*{endDate}"/>
                        <button disabled type="submit" class="btn btn-primary">Найти</button>
                    </form>
                </td>
            </tr>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Скачал</th>
                <th>Загрузил</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>