<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: wrapper(~{::title},~{})">

<title>Создать нового пользователя</title>

<div id="content">
    <form class="form-inline" th:object="${userDto}" th:action="@{/user/new}" method="post">
        <label for="formInputName1">Имя: </label>
        <input type="text" class="form-control" placeholder="Введите имя" id="formInputName1" th:field="*{name}"/>
        <button type="submit" class="btn btn-primary">Создать</button>
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </form>
</div>

</html>