<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<h1>Hello World!</h1>
<table border="1">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td><a th:text="${user.name}" th:href="'/user/'+${user.id}" href="/user/1">Пользователь</a></td>
    </tr>
</table>

<form th:object="${user}" action="/user/add" method="post">
    <input type="text" th:field="*{name}"/>
    <input type="submit"/>
</form>
</body>
</html>