<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Info</title>
</head>
<body>
<h1>User Info</h1>
<table th:object="${user}" border="1">
    <tr>
        <td th:text="*{id}">UserID</td>
        <td th:text="*{name}">UserName</td>
        <td>
            <a th:href="'/user/edit/' + *{id}"><button>Редактировать</button></a>
        </td>
        <td>
            <a th:href="'/user/delete/' + *{id}"><button>Удалить</button></a>
        </td>
    </tr>
</table>
</body>
</html>